Edit Goal
<form action="<%= goal_url %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="patch">
<label>Body
<input type="text" name="goal[body]" value="<%= @goal.body %>" >
</label>
<input type="hidden" name="goal[private]" value="false">
<label>Private:
<input type="checkbox" name="goal[private]" value="true" <%= "checked" if @goal.private %> >
</label>
<label>Completed:
  <input type="hidden" name="goal[completed]" value="false" >
<input type="checkbox" name="goal[completed]" value="true" <%= "checked" if @goal.completed %>>
</label>

<button>Update</button>
</form>
